@import "../../vars.css";


.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 60px 10%;
  flex-wrap: wrap;
  z-index: 1;
}


.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-text);
  z-index: 1;
  max-width: 600px;
}


.title {
  font-size: 72px;
  font-weight: 900;
  margin-bottom: 25px;
  font-family: var(--font-roboto);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 70%,
    rgba(255, 255, 255, 0) 120%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.description {
  font-size: 28px;
  line-height: 1.4;
  font-family: var(--font-roboto);
  margin-bottom: 45px;
  color: rgba(255, 255, 255, 0.9);
}

.contactBtn {
  text-decoration: none;
  background-color: var(--color-primary);
  color: var(--color-text);
  border-radius: 100px;
  font-size: 20px;
  font-weight: 600;
  padding: 14px 28px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease-in-out;
}

.contactBtn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}


.heroImg {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #ffffff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  z-index: 1;
  animation: floating 3s ease-in-out infinite;
  transition: transform 0.3s ease-in-out;
}

.heroImg:hover {
  transform: scale(1.05);
}

@keyframes floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

.topBlur {
  position: absolute;
  width: 50vw;
  height: 50vw;
  min-width: 350px;
  top: -128px;
  left: -10vw;
  border-radius: 764px;
  background: rgba(25, 55, 109, 0.7);
  filter: blur(100px);
  z-index: 0;
}

.bottomBlur {
  position: absolute;
  width: 70vw;
  height: 50vw;
  min-width: 250px;
  top: 246px;
  right: -25vw;
  border-radius: 764px;
  background: rgba(25, 55, 109, 0.7);
  filter: blur(100px);
  z-index: 0;
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }

  .content {
    align-items: center;
  }

  .title {
    font-size: 48px;
  }

  .description {
    font-size: 22px;
  }

  .heroImg {
    width: 220px;
    height: 220px;
    margin-bottom: 25px;
  }
}
